node_modules

# VisualStudioCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
Day17- All about mySql/myApp/.env
Day28-Getting_Tweets_Using_Node/.env
